:root{
    --background-color: #2F303A;
    --text-color :#212121;
    --accent-color: #757575;
    --background-form: rgba(245, 244, 250, 1);
    --additional-form : #FFF;
    --web-color: #2196F3;
    --studio-color: #FFF;
    --data-color: rgba(255, 255, 255, 0.6); 
    --comand-color: rgba(245, 244, 250, 1);
    --dateheader-color: rgba(117, 117, 117, 1);
    --studio1-color: #000;
}
.stoodia{
    color: var(--web-color);
    font-family: Roboto;
}
.portfolio{
    color: var(--text-color);
    font-family: Roboto;
}
.contakt{
    color: var(--text-color);
    font-family: Roboto;
}
.gmail{
    color: var(--web-color);
    font-family: Roboto;
}
.phone{
    color: var(--dateheader-color);
    font-family: Roboto;
}
.hero{
    background: var(--background-color);
}
h1{
    color: var(--studio-color);
    font-family: Roboto;
}
button{
    background: var(--web-color);
    color: var(--studio-color);
    font-family: Roboto;
}
h3{
    color: var(--text-color);
    font-family: Roboto;
}
p{
    color: var(--accent-color);
    font-family: Roboto;
}
h2{
    color: var(--text-color);
    font-family: Roboto;
}
.comanda{
background: var(--comand-color);
}
h4{
    color: var(--text-color);
    font-family: Roboto;
}
.footer{
    background: var(--background-color);
}
.adres{
 color: var(--studio-color); 
font-family: Roboto;
}
.mailto{
    color: var(--data-color);
    font-family: Roboto;
}
.tel{
    color: var(--data-color);
    font-family: Roboto;
}
.Web{
    color: var(--web-color);
    font-family: Raleway;
}
.studio{
    color: var(--studio-color);
    font-family: Raleway;
}
.studio1{
    color: var(--studio1-color);
    font-family: Raleway;
}


