:root{
    --background-color: #2F303A;
    --text-color :#212121;
    --accent-color: #757575;
    --web-color: #2196F3;
    --studio-color: #FFF;
    --data-color: rgba(255, 255, 255, 0.6); 
    --comand-color: rgba(245, 244, 250, 1);
    --dateheader-color: rgba(117, 117, 117, 1);
    --studio1-color: #000;
}

img {
    display: block;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
font-family: "Roboto";
}

/* Хедер */
.header-logo {
    color: var(--studio1-color);
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;       
}

.header-web {
color: var(--web-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
   
}

.nav-item {
    color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
}

.nav-item:hover, .nav-item:focus {
    color: var(--web-color);
}

.current {
    color: var(--web-color);
}

.header-item {
    color: var(--accent-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
       
}

.header-item:hover, .header-item:focus {
    color: var(--web-color);
}

/* Секція герой */
.hero {
        background: var(--background-color);
}

.hero-title {
    width: 696px;
    color: var(--studio-color);
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        text-transform: uppercase;
}

.hero-button {
    width: 216px;
        height: 50px;
        background: var(--web-color);
        color: var(--studio-color);
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
}

/* Секція наші переваги */
.advantages-title {
    color: var(--text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
}

.advantages-text {
    color: var(--accent-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
}

/* Секція чим ми займаємося */
.affairs-title {
    color: var(--text-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
}

/* Секція команда  */
.command {
    background-color: var(--comand-color);
}

.comand-title {
    color: var(--text-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
}

.comand-description {
    color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
}

.comand-text {
    color: var(--accent-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
}

/* Футер */
.footer {
    background-color: var(--background-color);
}

.footer-logo {
    color: var(--studio-color);
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
}

.footer-web {
    color: var(--web-color);
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
}

.footer-maps {
    color: var(--studio-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1,71;
}

.footer-item {
    color: var(--data-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
}



