:root {
  --background-color: #2f303a;
  --text-color: #212121;
  --accent-color: #757575;
  --web-color: #2196f3;
  --studio-color: #fff;
  --data-color: rgba(255, 255, 255, 0.6);
  --comand-color: rgba(245, 244, 250, 1);
  --dateheader-color: rgba(117, 117, 117, 1);
  --studio1-color: #000;
  --affairs-color: #ffffff;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid red ; */
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

/* Хедер */

.header {
  background-color: var(--affairs-color);
  margin-top: 24px;
  margin-bottom: 25px;
}

.header-logo {
  color: var(--studio1-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-right: 93px;
  width: 145px;
}

.header-web {
  color: var(--web-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}

.box {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-right: 344px;
}

.nav-item {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--web-color);
}

.current {
  color: var(--web-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-item:last-child {
  margin-right: 0px;
}

.header-item:hover,
.header-item:focus {
  color: var(--web-color);
}

/* Секція герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
   background-image: linear-gradient( rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/fons.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}


.hero-title {
  color: var(--studio-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
} 


.hero-button {
  color: var(--studio-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; 
letter-spacing: 0.96px;
background-color: var(--web-color);
padding: 10px 32px;
border-radius: 4px;
}

/* Секція наші переваги */
.advantages {
  background-color: var(--affairs-color);
  padding-top: 94px;

}

.advantages-list {
    display: flex;
    gap: 30px;
    
}

.advantages-item::before {
content: "";
border-radius: 4px;
background: var(--comand-color);
width: 270px;
height: 120px;
display: block;
background-image: url(../images/antenna.png);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 30px;
}

.advantages-item:nth-child(2)::before {
  background-image: url(../images/clock.png);
}

.advantages-item:nth-child(3)::before {
background-image: url(../images/diagram.png);
}

.advantages-item:nth-child(4)::before {
background-image: url(../images/astronaut.png);
}

.advantages-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  width: 270px;
}

/* Секція чим ми займаємося */

.affairs {
  background-color: var(--affairs-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.affairs-list {
    display: flex;
    gap: 30px;
}

.affairs-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.affairs-img {
  width: 370px;
}

/* Секція команда  */
.comand {
  background-color: var(--comand-color);
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.comand-list {
    display: flex;
    gap: 30px;
    max-width: 1200px;
}

.comand-box {
  border-radius: 0px 0px 4px 4px;
background: var(--studio-color);
 width: 270px;
 padding-top: 30px;
 padding-bottom: 30px;
}

.comand-img{
  width: 270px;
}

.comand-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
  letter-spacing: 1.08px
}

.comand-description {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}

.comand-text {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  padding-top: 10px;
}

/* Футер */
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;

}

.footer-logo {
  color: var(--studio-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-web {
  color: var(--web-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
   letter-spacing: 0.78px;
}

.footer-adress{
  font-style: normal;
}

.footer-maps {
  color: var(--studio-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-adress {
  margin-top: 20px;
}

.footer-list {
  margin-top: 9px;
}

.footer-link {
  margin-bottom: 9px;
}
.footer-link:last-child {
margin-bottom: 0px;
}

.footer-item {
  color: var(--data-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
